@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    -webkit-text-stroke: 0.5px white;
    font-weight: 700;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #e6b101;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #2b2b2b;
    color:#e6b101;
}

.strokeblack
{
    color: #e6b101;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #2b2b2b;
}

.strokeyellow
{
    color: #2b2b2b;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #e6b101;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
section img#wbback
{
    z-index: 1;
}
section img#wbfront
{
    z-index: 3;
    
}
section img#wbwater
{
    z-index: 4;
}

img#avatar
{
    position: relative;
    border-radius: 50%;
    z-index: 6;
    left: 125px;
    top: -100px;
}

.text
{
    position: fixed;
    top: 100px;
    color: #fff;
    white-space: nowrap;
    font-size: 6.5vw;
    z-index: 2;
    opacity: 1;
}

.name
{
    color:#fff;
    white-space: nowrap;
    font-size: 2.5vw;
    z-index: 7;
    position: relative;
    left: 60px;
    top: -100px;
}

.infotext
{
    color: #fff;
    white-space: nowrap;
    font-size: 0.7vw;
    z-index: 7;
    position: relative;
    top: 0px;
    left: -480px;
}

.projects
{
    color:#fff;
    white-space: nowrap;
    font-size: 2.5vw;
    z-index: 7;
    position: relative;
    top: -100px;
    left: 540px;
}

.projectinfo
{
    color: #fff;
    white-space: nowrap;
    font-size: 1.5vw;
    z-index: 7;
    position: relative;
    top: -50px;
}

.left
{
    left: 580px;
}

.standard
{
    color: #fff;
    position: relative;
    left: -350px;
    text-align: center;
}

.column
{
    float: left;
    width: 33.3%;
}

.row::after
{
    content: "";
    display: table;
    clear: both;
}


.container{
    width: 1000px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #e6b101;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.7;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.workflow
{
    color:#fff;
    white-space: nowrap;
    font-size: 2.5vw;
    z-index: 7;
    text-align: center;
}
